@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

:root {
    --mdc-typography-font-family: "Encode Sans", sans-serif, monospace;
    
    --mdc-theme-primary: #fff;

    --button-bg-color: rgba(255, 255, 255, 0.05);
    --button-bg-hover-color: lighten(--button-bg-color, 20%);
    --button-color:  rgb(51, 169, 255);
    --button-border-color:  rgb(51, 169, 255);

    --header-link-color-hover: darken(#ffffff);
    --header-link-color: #ffffff;    
    --header-bg-color: #222741;

    --bg-color: rgb(27, 31, 50);
    --up: "⬆️";  
    --down: "⬇️";
}

html[data-theme='light'] {

    --mdc-theme-primary: #696969;
    --bg-color: #fff;

    --header-bg-color: #fff;    
    --header-link-color: rgba(0, 0, 0, 0.85);    

    --button-bg-color: rgba(255, 255, 255, 0.05);
    --button-bg-hover-color: darken(--button-bg-color, 20%);

}

@media screen and (min-width: 450px) {
    html { --header-fontsize: 20px; --header-padding: 15px; }
    #avalabs {
        width: 50px;
    }
}

@media screen and (min-width: 750px) {
    html { --header-fontsize: 20px; --header-padding: 40px; }
    #avalabs {
        width: 75px;
    }
}

@media screen and (min-width: 1050px) {
    html { --header-fontsize: 20px; --header-padding: 75px;}
    #avalabs {
        width: 100px;
    }
}

@media screen and (min-width: 1350px) {
    html { --header-fontsize: 20px; --header-padding: 125px; }
    #avalabs {
        width: 120px;
    }
}

@media screen and (min-width: 1650px) {
    html { --header-fontsize: 20px; --header-padding: 175px; }
    #avalabs {
        width: 140px;
    }
}

.mdc-dialog {
    background-color: purple;
    width: 400px;
}

a {
    text-decoration: none;   
    color: var(--button-bg-hover-color)
}

.sniglet {
    font-family: 'sniglet';
    font-size: 30px;
}

header .mdc-button--outlined:not(:disabled) {
    background-color: var(--button-bg-color) !important; 
    color: var(--button-color) !important;     
    border-color: var(--button-border-color) !important; 
    cursor: pointer;
}

header .mdc-button--outlined:not(:disabled):hover {
    background-color: var(--button-bg-hover-color) !important; 
}

body,
html {
    margin: 0;
}

ion-icon {
    font-size: 20px;
}

body {    
    background-color: var(--bg-color);
    color: var(--mdc-theme-primary);
}

.mdc-top-app-bar {
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
    background-color: var(--header-bg-color);
    color: var(--mdc-theme-primary);
}

.mdc-top-app-bar a {
    font-weight: 700;
    font-size: var(--header-fontsize);
    color: var(--header-link-color);
    text-decoration: none;            
}

.mdc-top-app-bar a:hover {
    color: var(--header-link-color-hover)
}

.mdc-top-app-bar--fixed .mdc-top-app-bar__row {
    height: 91px;
}

defi-header::after {
    position: fixed;
    height: 4px;
    content: "";
    width: var(--computed-width);
    margin-top: 91px;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: var(--edge-data-image)
}

#edge {
    position: absolute;
}

dt, dd{
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
    padding-top: 111px;
    padding-bottom: 111px;
}

nav {
    flex-grow: 2;    
}

nav a {
    display: inline-block;
    margin-left: 40px;
}

menu {
    display: flex;
    flex-wrap: wrap;
}

menu > * {
    margin: 1px;
}

.logowrap {
    position: relative;
}
.logowrap > span.ox {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    display: inline-block;    
    cursor: pointer;   
    position: absolute;    
    display: none;
}
.logowrap > span.ox.open {
    display: block;
}
.logowrap > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.relative {
    position: relative;        
}

.center { text-align: center; }
.right { text-align:right; }
.pretty { font-family: 'Inter', sans-serif; font-weight: 600; } 
.hidden  { display: none; }

tr.governance > td:first-of-type {
    margin-left: -50px;
}

.json {
    cursor: pointer;
}